@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-nero text-bianco font-inter;
  }

  h1, h2, h3, h4 {
    @apply font-playfair;
  }

}

@layer utilities {
  .text-shadow-red {
    text-shadow: 0 0 40px rgba(230, 59, 46, 0.4);
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
